---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';

import { Image } from 'astro:assets';

import img1 from '@assets/branding/noia/01.gif';
import img2 from '@assets/branding/noia/02.webp';
import img3 from '@assets/branding/noia/03.webp';
import img4 from '@assets/branding/noia/04.webp';
import img5 from '@assets/branding/noia/05.webp';
import img6 from '@assets/branding/noia/06.webp';
import img7 from '@assets/branding/noia/07.webp';
import img8 from '@assets/branding/noia/08.webp';

const title = "Nóia Gráfica | Branding";
---

<Layout title={title}>
  <Container>
    <section class="mb-12 flex flex-col gap-6 md:flex-row md:gap-24">
      <div>
        <p class="text-blue-gray mb-3 font-light text-lg">Segmento</p>
        <p class="text-cold-gray text-lg">Cultura</p>
      </div>
      <div>
        <p class="text-blue-gray mb-3 font-light text-lg">Cliente</p>
        <p class="text-cold-gray text-lg">Nóia Gráfica</p>
      </div>
      <div>
        <p class="text-blue-gray mb-3 font-light text-lg">Ano</p>
        <p class="text-cold-gray text-lg">2024</p>
      </div>
    </section>

    <main class="relative space-y-20 mb-24 md:mt-28">
      <div class="">
        <h1
          class="text-[2rem] leading-[2.8rem] text-cold-gray font-light md:text-[2.5rem] md:leading-[3.5rem] lg:text-[4rem] lg:leading-[5rem]"
        >
          Nóia Gráfica
        </h1>
      </div>

      <Image src={img1} alt="" class="rounded-3xl" />

      <section>
        <div class="flex flex-col mb-10 md:flex-row md:justify-between">
          <h2 class="text-2xl text-cold-gray mb-6 md:basis-1/3 xl:basis-1/2">Conceito</h2>
          <p class="text-cold-gray leading-7 md:basis-2/3 xl:basis-1/2">
            A identidade visual da Nóia Gráfica 2 foi desenvolvida para o evento realizado nos dias 7 e 8 de setembro de
            2024, na Casa das Artes, em Novo Hamburgo. Inspirada na estética da arte urbana dos anos 90, a linguagem
            gráfica foi construída com formas simples e uma paleta monocromática de alto contraste, utilizando cores
            frequentemente associadas à serigrafia. Esses elementos reforçam a conexão com o universo independente.
            <br />
            <br />
            O design foi aplicado em diversos materiais, como cartazes, sinalização e peças digitais, garantindo uma comunicação
            visual coesa e impactante. A identidade refletiu o espírito criativo da feira, que reuniu artistas independentes
            em exposições, bate-papos e oficinas.
          </p>
        </div>
      </section>

      <div class="space-y-14 overflow-clip">
        <Image src={img2} alt="" class="rounded-3xl" />
        <Image src={img3} alt="" class="rounded-3xl" />
        <Image src={img4} alt="" class="rounded-3xl" />
        <Image src={img5} alt="" class="rounded-3xl" />
        <Image src={img6} alt="" class="rounded-3xl" />
        <Image src={img7} alt="" class="rounded-3xl" />
        <Image src={img8} alt="" class="rounded-3xl" />
      </div>
    </main>
  </Container>
</Layout>
