---
import photo from '@assets/img-gabi.png';
import logoNomade from '@assets/companies/nomade.png';
import logoMatriz from '@assets/companies/matriz.png';
import logoDf2 from '@assets/companies/df2.png';
import logoOrium from '@assets/companies/orium.png';
import bgGlass2 from '@assets/background-glass-2.png';
---

<div class="bg-lilac-blue text-blue-black py-20 mt-20">
  <div class="container mx-auto px-6 lg:px-14 2xl:px-36">
    <div class="hidden xl:block xl:relative">
      <img src={bgGlass2.src} alt="" class="xl:h-[40rem] xl:absolute xl:inset-0 xl:top-[28rem]" />
    </div>

    <section class="xl:flex">
      <div class="xl:basis-1/2">
        <h2 class="text-2xl">Sobre</h2>

        <div class="max-w-80">
          <img
            src={photo.src}
            alt="Mulher jovem de cabelos cacheados, usando óculos e brincos de argola, em ambiente interno."
            class="my-10 max-h-72"
          />
          <p class="text-blue-black text-xl font-light my-10">Oi! Sou a Gabi Dall'Agnol.</p>
        </div>
      </div>
      <div class="xl:basis-1/2">
        <p class="text-blue-black font-light">
          Com mais de 7 anos de atuação, meu trabalho integra UX/UI, branding e design estratégico para criar soluções
          funcionais e escaláveis. Acredito que a simplicidade é a chave para transformar complexidade em valor real,
          alinhando as metas de negócios às necessidades das pessoas. Valorizo processos baseados em pesquisa e dados,
          conduzindo projetos de forma colaborativa com equipes e stakeholders para entregar resultados tangíveis e
          experiências que fazem a diferença.
        </p>
        <div class="mt-10 space-y-10">
          <p class="text-blue-black text-2xl">Como posso ajudar?</p>
          <div class="space-y-2">
            <p class="text-blue-black text-xl">Para equipes de produtos digitais</p>
            <p class="text-blue-black font-light">
              Realizo pesquisas e análises de UX para entender o comportamento do usuário, ajudando as equipes a
              reimaginar desafios e criar produtos mais intuitivos, eficientes e impactantes.
            </p>
          </div>
          <div class="space-y-2">
            <p class="text-blue-black text-xl">Para negócios em crescimento</p>
            <p class="text-blue-black font-light">
              Apoio na definição de problemas e no design de soluções digitais, desde MVPs até produtos mais robustos,
              ajudando a transformar ideias em realidades escaláveis.
            </p>
          </div>
          <div class="space-y-2">
            <p class="text-blue-black text-xl">Para empresas</p>
            <p class="text-blue-black font-light">
              Crio experiências estratégicas que conectam marcas aos seus públicos, entregando soluções funcionais e
              atraentes que impulsionam resultados.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="my-28 space-y-7 xl:flex xl:space-y-0 xl:mt-96 xl:mb-48">
      <h3 class="text-2xl xl:basis-1/2">Experiência</h3>

      <div class="space-y-10 xl:basis-1/2">
        <div class="space-y-5">
          <p class="text-xl font-light">UX/UI Designer</p>
          <div class="flex gap-5 items-center">
            <img src={logoNomade.src} alt="" class="h-8 hidden md:block" />
            <p class="font-light text-blue-gray">Nômade (2021 — Presente)</p>
          </div>
        </div>

        <div class="space-y-5">
          <p class="text-xl font-light">Designer e Diretora de Arte</p>
          <div class="flex gap-5 items-center">
            <img src={logoMatriz.src} alt="" class="h-8 hidden md:block" />
            <p class="font-light text-blue-gray">Agência Matriz (2018 — 2021)</p>
          </div>
        </div>

        <div class="space-y-5">
          <p class="text-xl font-light">Designer</p>
          <div class="flex gap-5 items-center">
            <img src={logoDf2.src} alt="" class="h-8 hidden md:block" />
            <p class="font-light text-blue-gray">DF2 Design (2017 — 2018)</p>
          </div>
        </div>

        <div class="space-y-5">
          <p class="text-xl font-light">Diretora de Arte</p>
          <div class="flex gap-5 items-center">
            <img src={logoOrium.src} alt="" class="h-8 hidden md:block" />
            <p class="font-light text-blue-gray">Orium Data-Driven Marketing (2016 — 2017)</p>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-20 space-y-7 xl:flex xl:space-y-0">
      <h3 class="text-2xl xl:basis-1/2">Formação Acadêmica</h3>

      <div class="space-y-10 xl:basis-1/2">
        <div class="space-y-5">
          <p class="text-xl font-light">Master Gestão Estratégica de UX Design | Pós-Graduação</p>
          <p class="font-light text-blue-gray">2023 - 2025</p>
          <p class="font-light text-blue-gray">ESPM</p>
        </div>
        <div class="space-y-5">
          <p class="text-xl font-light">Bacharelado em Design e Comunicação Visual</p>
          <p class="font-light text-blue-gray">2015 - 2019</p>
          <p class="font-light text-blue-gray">ESPM - Porto Alegre</p>
        </div>
      </div>
    </section>
  </div>
</div>
